In [1]:
from faker import Faker

In [2]:
import pandas as pd
import numpy as np
import faker

# create some fake data
fake = Faker()

# function to create a dataframe with fake values for our workers
def make_workers(num):
    
    # lists to randomly assign to workers
    status_list = ['in', 'out']
    team_list = ['FL1_RM1','FL1_RM2','FL1_RM3', 'FL1_RM4', 'FL2_RM1', 'FL2_RM2','FL2_RM3','FL2_RM4', 'FL3_RM1', 'FL3_RM2','FL3_RM3', 'FL3_RM4', 'FL4_RM1','FL4_RM2','FL4_RM3', 'FL4_RM4']
    

    fake_workers = [{'ID':fake.random_number(digits=1),
                  'Temp':fake.random_number(digits=2), 
                  'noted Date':fake.date_time_between(start_date='-6m', end_date='-1m'),
                  'Status':np.random.choice(status_list), # assign items from list with different probabilities
                  'room_id':np.random.choice(team_list)} for x in range(num)]
        
    return fake_workers

worker_df = pd.DataFrame(make_workers(num=50000))
worker_df.head()

           ID  Temp          noted Date Status  room_id
0  9281077641    54 2022-08-04 16:16:31     in  FL1_RM4
1  6951969362    61 2022-08-04 16:18:39    out  FL2_RM2
2  2001239596    80 2022-08-04 16:19:24    out  FL3_RM2
3  1430783849    98 2022-08-04 16:17:51    out  FL4_RM2
4  4277196915     0 2022-08-04 16:19:44     in  FL1_RM2

In [ ]:
dummy_data = worker_df.to_json(orient='index')

In [ ]:
with open('dummy.json', 'w') as fp:
        json.dump(dummy_data, fp)

In [ ]:
worker_df.to_csv("Dummy_data.csv")